*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    padding: 1em;
}
td{
    border: 1px solid #000;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
}
input[type="text"]{
    padding: 5px;;
}
button{
    padding: 10px;
}
.css-mine{
    background-color: #000;
}
.block-closed{
    background-color: #8C8C8C;

}
p{
    display: none;
}
.block-closed:hover{
    background-color: dimgray;
}
i.fa-flag{
    font-weight: 600;
    color: #980000;
}