*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    padding: 1em;
}
td{
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
input[type="text"]{
    padding: 5px;;
}
button{
    padding: 10px;
}
.css-mine{
    background-color: gray;
}

.flag{
    background-color: red;
}

.block-closed{
    background-color: gray;
}

.block-closed:hover{
    background-color: dimgray;
}